{% extends 'base.html' %}
{% block head %}
    <style>
        html,
        body {
            font-family: 'KoHo' !important;
        }

        a {
            color: white;
            font-weight: 500;
            text-decoration: none;
        }

        a:hover {
            color: white !important;
            font-weight: 800;
            text-decoration: none;
        }

        .fc {
            border: 1.5px solid #008cff;
            width: 100%;
            height: 50px;
            color: #008cff;
            border-radius: 50px;
            background: linear-gradient(to right, #008cff, #008cff);
            background: transparent;
        }

        .fc::placeholder {
            font-weight: 500;
            color: #000;
            font-size: 1rem;
        }

        .form-group {
            background: transparent;
        }

        td {
            font-weight: 400;
        }

        .update_text {
            font-weight: 500;
            font-size: 1.2rem;
            color: #000;
        }

        .btn,
        a {
            color: #000 !important;
            font-weight: 600;
        }

        .btn:hover {
            color: white !important;
            background-color: #008cff !important;
        }

        .loader {
            position: relative;
            height: 150px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #008cff;
            /* margin: 30px 30px; */
            /* float: left; */
        }

        .loader:before {
            content: "";
            background: white;
            position: absolute;
            z-index: 100;
            width: 148px;
            height: 148px;
            border-radius: 50%;
            margin: auto auto;
        }

        progress::-moz-progress-bar {
            background: transparent;
        }

        progress::-webkit-progress-bar {
            background: transparent;
        }

        progress::-moz-progress-value {
            background: #008cff;
        }

        progress::-webkit-progress-value {
            background: #008cff;
        }

        .circle {
            border-radius: 100%;
            overflow: hidden;
            padding: 0;
        }

        .spin {
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="container table_part text-center mx-auto"
        style="margin-top: 20px; margin-bottom: 0 !important; display: none;">
        <div class="text-left mr-auto">
            <p>
            <h3>Total Errors : <span class="nos" style="font-size: 3rem; color: #008cff;"></span></h3>
            <small style="color: #008cff; font-weight: 600; font-size: 15px;">*Some results may differ for a human. My
                programming is improving with every
                use.</small>
            <br><br><br><br>
            <div class="col-md-6 mx-auto text-left table-responsive">
                <table class="table">
                </table>
            </div>
            <br><br>
            <button onclick="location.reload();" class="btn btn-outline-primary" s>Go Back</button>
            <br><br>
        </div>
    </div>
    <div class="container main_part mx-auto text-center" style="margin-top: 20px;">
        <h1 style="font-weight: 600;">Miss Spell</h1>
        <small class="errors" style="color: red; font-weight: 800;"></small>
        <br><br>
        <form class="col-md-6 text-center mx-auto form">
            <div class="form-group">
                <input type="text" class="form-control fc" name="web_url" placeholder="Insert your web page">
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-12 text-center col-md-6 mx-auto progress-part" style="margin-top: 20px; left: 0; display: none;">
        <progress max="100" value="95" class="mx-auto text-center spin circle loader"></progress>
        <br>
        <div class="update_text"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typo-js@1.2.0/typo.min.js"></script>
    <script>
        var nos_of_errors = 0;
        var url, str, sentence, prev_data;
        var prev_arr = [];
        function make_string(arr) {
            string = '';
            for (var l = 0; l < arr.length; l++) {
                string = string + arr[l] + ', ';
            }
            return string;
        }

        function check_spell(data) {
            var is_spelled_correctly = dictionary.check(data);
            if (is_spelled_correctly !== true) {
                nos_of_errors += 1;
                var array_of_suggestions = dictionary.suggest(data);
                if (array_of_suggestions.length == 0) {
                    corrected = "No Suggestions Found";
                }
                else {
                    corrected = make_string(array_of_suggestions);
                }
                $('.table').append('<tr><td>' + data + '</td><td>:</td><td>' + corrected + '</td></tr>');
                $('.nos').html(nos_of_errors).fadeIn('slow');
            }
        }

        function remove_duplicates(str) {
            var result = [];
            for (var i = 0; i < str.length; i++) {
                if (result.indexOf(str[i]) == -1) result.push(str[i]);
            }
            return result
        }

        function remove_com(str) {
            var result = [];
            for (var i = 0; i < str.length; i++) {
                if (str[i].includes('.com')) {
                    continue;
                } else {
                    result.push(str[i]);
                }
            }
            return result
        }

        function check(d) {
            if (d.length < 4) {
                return false;
            }
            else if (d.toLowerCase() === url) {
                return false;
            }
            else if (/^\d+$/.test(d)) {
                return false;
            } else {
                return true;
            }
        }

        function match_with_prev_data(str) {
            var res = str.filter(item => !prev_arr.includes(item));
            return res;
        }

        function filter_data(data) {
            str = data.split(' ');
            str = str.filter(entry => /\S/.test(entry)); // whitespace
            str = remove_duplicates(str); // duplicates
            str = remove_com(str);
            str = str.toString();
            str = str.replace(/[_\W]+/g, " ").split(" ");

            str = match_with_prev_data(str);
            for (let i = 0; i < str.length; i++) {
                var d = str[i];
                if (check(d) == true) {
                    check_spell(d);
                }
            }
            $('.table_part').fadeIn('slow');
        }

        function strip_url(url) {
            url = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
            return url.split('.')[0];
        }

        var dictionary = new Typo("en_US", false, false, { dictionaryPath: "https://cdn.jsdelivr.net/npm/typo-js@1.2.0/dictionaries" });
        var updating = null;

        $('.form').submit(function (e) {
            e.preventDefault();
            changeText();
            url = $('.fc').val();
            $('.main_part').hide();
            $('.progress-part').fadeIn('slow');
            $.ajax({
                url: "{% url 'check_spell' %}",
                type: 'POST',
                data: {
                    web_url: url
                },
                success: function (data) {
                    if (data == 0) {
                        $('.progress-part').hide();
                        $('.table_part').fadeIn('slow');
                        $('.nos').html("0");
                    }
                    else if (data == 'error_in_url') {
                        $('.progress-part').hide();
                        $('.main_part').fadeIn('slow');
                        $('.errors').html("Invalid URL, Please Try Again...");
                    }
                    else {
                        url = strip_url(url);
                        $('.progress-part').hide();
                        
                        sentence = data['sentence'];
                        prev_data = JSON.parse(data['prev_data']);
                        for(var l = 0; l < prev_data.length; l++){
                            prev_arr.push(prev_data[l]['fields']['text']);
                        }
                        $('.table').html('<tr><td style="font-size: 1.2rem; font-weight: 800;"><b>Errors Found</b></td><td style="font-size: 1.2rem;"></td><td style="font-size: 1.2rem;"><b>Suggestions</b></td></tr>');
                        filter_data(sentence);
                        // if (count !== 5) {
                        //     url = strip_url(url);

                            // $('.table').html('<tr><td style="font-size: 1.2rem; font-weight: 800;"><b>Errors Found</b></td><td style="font-size: 1.2rem;"></td><td style="font-size: 1.2rem;"><b>Suggestions</b></td></tr>');
                        //     $('.progress-part').hide();
                        //     filter_data(data);
                        //     // var t = (5 - count) * 2500;
                        //     // console.log("Wait for : " + t);
                        //     // setTimeout(
                        //     //     function () {
                        //     //         $('.progress-part').hide();
                        //     //         filter_data(data);
                        //     //     }, parseInt(t));
                        // }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });



        var count = 0;
        let text = [
            'Loading Results',
            'Connecting to Website',
            'Deploying Software',
            'Running Miss Spell',
            'Checking for Errors'
        ];
        function changeText() {
            count = 0;
            var chan = setInterval(function () {
                if (count == 5) {
                    clearInterval(chan);
                } else {
                    count++;
                    $(".update_text").fadeOut(400, function () {
                        $(this).text(text[count % text.length]).fadeIn(400);
                    });
                }
            }, 2000);
        }
    </script>
{% endblock %}